<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Demo</title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>
<body>
	<h3>{{ 4545* 4324 }}</h3>
	<h3 ng-bind='4545* 4324'></h3>
	<div ng-init="students=['Mike', 'John', 'Trey', 'India']">
		<ul>
			<li ng-repeat="i in students">{{i}}</li>
		</ul>
	</div>

	<div ng-init="students=[{name: 'Mike', age: 34}, {name: 'John', age: 32}, {name: 'India', age: 20}]">
		<ul>
			<li ng-repeat="i in students">{{i.name}}, {{i.age}}</li>
		</ul>
	</div>
</body>
</html>